# Dependencies
backend/vendor/
frontend/node_modules/

# Environment
backend/.env
frontend/.env

# Laravel storage & cache
backend/storage/
backend/bootstrap/cache/

# Docker volumes
mysql_data/
redis_data/

# OS files
.DS_Store
Thumbs.db
nul

# IDE
.idea/
.vscode/
*.swp
*.swo

# Codely CLI
.codely-cli/
CODELY.md
